<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blitz - Strona Główna</title>
    <meta name="description" content="Opis...................."/>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="../javascript/menu.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>
<body>
    <section id="home">
        <div class="main-container">
            <div class="menu-bar">
                <div class="menu-button" id="menu-button" onclick="toggleMobileMenu()">
                    <i class="fas fa-bars"></i>
                </div>
                <div class="menu-left">
                    <div class="logo-container">
                        <img class="logo" src="../img/logo.png" alt="Logo">
                        <div class="logo-text">
                            <h1 class="logo-title">BLITZ</h1>
                            <p class="logo-subtitle">CHEMIA PROFESJONALNA</p>
                        </div>
                    </div>
                </div>
                <div class="menu-center">
                    <div class="nav-links">
                        <a class="nav-link" href="#home">HOME</a>
                        <a class="nav-link" href="#sklep">SKLEP</a>
                        <a class="nav-link" href="#informacje">INFORMACJE</a>
                        <a class="nav-link" href="#kontakt">KONTAKT</a>
                        <a class="nav-link" href="#wyszukiwanie">WYSZUKIWANIE</a>
                    </div>
                </div>
                <div class="menu-right">
                    <div class="user-cart-icons">
                        <img class="user-icon" src="../img/user.svg" alt="User Icon">
                        <img class="cart-icon" src="../img/cart.svg" alt="Cart Icon">
                    </div>
                </div>
            </div>
            <nav class="mobile-menu" id="mobile-menu">
                <a class="mobile-link" href="#home">HOME</a>
                <a class="mobile-link" href="#sklep">SKLEP</a>
                <a class="mobile-link" href="#informacje">INFORMACJE</a>
                <a class="mobile-link" href="#kontakt">KONTAKT</a>
                <a class="mobile-link" href="#wyszukiwanie">WYSZUKIWANIE</a>
            </nav>
            <div class="overlap-wrapper">
                <div class="overlap-group">
                    <div class="overlap-content">
                        <h1 class="headline">
                            <span class="text-part-1">ŚWIEŻOŚĆ</span>
                            <br>
                            <span class="text-part-2">W JEDNYM KLIKNIĘCIU</span>
                        </h1>
                    </div>
                    <div class="scroll-down-icon">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="informacje">
        <div class="info-container">
            <h2>POZNAJ WYŻSZĄ JAKOŚĆ
                CZYSTOŚCI</h2>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in tincidunt turpis, at blandit lorem. Ut orci felis, consequat ut mattis nec, dictum ac lacus. Nulla non mollis dolor. Phasellus elit orci, dignissim eget mauris at, porta faucibus sem. Aliquam pellentesque dapibus lacus at mollis. Nam quis hendrerit ante. Sed ut magna nec lorem ultricies dapibus. Duis rhoncus est ex, blandit malesuada ipsum pulvinar et. Nullam mi dui, convallis eget sapien ut, tempus efficitur velit. Vestibulum mattis congue libero eu fermentum. Cras efficitur dapibus lorem nec consectetur. Nullam maximus sit amet purus sodales gravida.</p>
            <p>Cras elementum ultrices diam, et porta velit venenatis sed. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae varius lorem, a faucibus nisl. Vestibulum ac libero erat. Aliquam mattis mauris in placerat laoreet. Nulla et interdum metus.</p>
            <p>Nulla congue lectus et lectus lacinia dictum. Vivamus eget sagittis arcu, vitae pulvinar est. Maecenas velit tortor, ultricies ut neque ac, tempor ullamcorper eros. Donec iaculis tellus in tellus feugiat tincidunt. In nec hendrerit nisl, ac commodo nunc. Vivamus eget ultrices felis. Donec sed neque egestas velit consectetur feugiat sed at lacus. Vivamus sed gravida magna. Mauris tempus lacinia justo et luctus. Vestibulum eu quam eget nisl facilisis bibendum. Donec nec lobortis nisl, sit amet vestibulum mi. Maecenas et porta diam. Curabitur faucibus sem erat, non semper turpis luctus eu. Fusce id dapibus metus. Nam volutpat feugiat lobortis. Nunc pulvinar ut massa vel pretium.</p>
            <p>Vivamus laoreet sit amet lacus sit amet eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur quis ex eu dolor ullamcorper lacinia nec quis leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin in sodales odio, non accumsan enim. Cras nisl velit, semper vitae ex sed, posuere cursus lacus. Aenean lobortis massa a ante rhoncus consequat. Vestibulum dolor magna, porta at quam vitae, maximus maximus eros. Quisque a ante ultricies leo ultrices bibendum at vel sapien. Suspendisse venenatis lacinia ligula, eu convallis justo dapibus in. Donec venenatis est ac erat volutpat, in rutrum metus placerat. Morbi justo dolor, pellentesque at diam nec, rutrum gravida tortor. Sed eu arcu fermentum, feugiat tortor eu, mattis urna.</p>
            <p>Morbi viverra tortor id quam feugiat imperdiet. Nulla justo nulla, suscipit et posuere non, tincidunt ut ex. Maecenas bibendum orci a nisl bibendum, et finibus tortor congue. Aliquam iaculis orci et pulvinar luctus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur mattis maximus mauris, eget aliquet libero pharetra a. Pellentesque porta sem leo, a convallis odio blandit ut. Vestibulum luctus semper nisi, vel varius nisi lobortis a. Nam porttitor tincidunt dolor vitae ultrices.</p>
            
        </div>
    </section>
    <section id="kontakt">
        <div class="contact-container">
            <h2>Kontakt</h2>
            <p>
                Skontaktuj się z nami:
                <br>
                Email: kontakt@przykladowa-strona.pl
                <br>
                Telefon: (123) 456-7890
            </p>
            <h3>Napisz do nas</h3>
            <form>
                <label for="name">Imię i nazwisko:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Adres email:</label>
                <input type="email" id="email" name="email" required>
                <label for="message">Wiadomość:</label>
                <textarea id="message" name="message" required></textarea>
                <button type="submit">Wyślij</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="logo-text">
                <h1 class="logo-title">BLITZ</h1>
                <p class="logo-subtitle">CHEMIA PROFESJONALNA</p>
            </div>
            <ul class="footer-nav">
                <li><a href="#home">Home</a></li>
                <li><a href="#sklep">Sklep</a></li>
                <li><a href="#informacje">Informacje</a></li>
                <li><a href="#kontakt">Kontakt</a></li>
                <li><a href="#wyszukiwanie">Wyszukiwanie</a></li>
            </ul>
            <div class="footer-social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </footer>
    
</body>
</html>
