<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blitz - Strona Główna</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div class="main-container">
        <div class="overlap-wrapper">
            <div class="overlap-group">
                <div class="nav-links">
                    <a class="nav-link" href="#">WYSZUKIWANIE AI</a>
                    <a class="nav-link" href="#">SKLEP</a>
                    <a class="nav-link" href="#">O NAS</a>
                    <a class="nav-link" href="#">KONTAKT</a>
                </div>
                <div class="overlap-content">
                    <h1 class="headline">
                        <span class="text-part-1">ŚWIEŻOŚĆ</span>
                        <br>
                        <span class="text-part-2">W JEDNYM KLIKNIĘCIU</span>
                    </h1>
                </div>
                <div class="user-cart-icons">
                    <img class="user-icon" src="../img/user.svg" alt="User Icon">
                    <img class="cart-icon" src="../img/basket.svg" alt="Cart Icon">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

