/* Resetowanie stylów */

html, body, div, p, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: "Lato-Bold", Helvetica;
    text-decoration: none;
    list-style: none;
}
/* Styl dla menu i ikon użytkownika oraz koszyka */
.menu-bar {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    padding: 15px 0;
    z-index: 1;
    color: #ffffff;
}

.menu-left{
    width: 30%;
    display: flex;
    justify-content: center;
}

.menu-right {
    width: 10%
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-text {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
}

.logo-title {
    font-size: 28px;
    letter-spacing: 10px;
    text-align: center;
    margin: 0;
}

.logo-subtitle {
    font-size: 15px;
    font-weight: normal; /* Usunięcie pogrubienia */
    margin: 0;
    white-space: nowrap; /* Zapobiega zawijaniu tekstu */
}

.logo {
    height: 40px;
    width: auto;
    filter: brightness(0) invert(1);
}

.menu-center {
    width: 60%;
    display: flex;
    justify-content: center;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: #ffffff;
    font-family: "Lato-Bold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s;
    margin: 0 15px;
}



.nav-link:hover {
    color: #0084a2;
}

.user-cart-icons {
    display: flex;
    align-items: center;
}

.user-icon, .cart-icon {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    width: 100%;
    border: 1px solid white;
    height: auto;
    overflow: hidden;
    transition: width 0.3s ease; /* Dodaj animację */
    font-size: 20px; /* Zmniejsz rozmiar czcionki w polu wyszukiwania */
    background-color: transparent;
}

.search-bar i {
    padding: 10px;
    cursor: pointer;
    font-size: 30px; /* Zwiększ rozmiar ikony lupy */
    color: #fff;
    margin-left: 5px;
}

.search-bar.active input {
    width: 150px; /* Rozwiń pole do wyszukiwania */
    padding: 10px;
    border: 1px solid #fff; /* Dodaj obramowanie */
    height: auto;
}
/* Styl dla menu użytkownika */
.user-menu {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    top: 82px;
    right: 0;
    z-index: 2;
    width: 25%; /* Szerokość menu użytkownika na pełną szerokość */
    text-align: center; /* Wyśrodkuj tekst w menu */
    opacity: 0; /* Rozpocznij z przeźroczystością 0 */
    transition: opacity 0.5s ease-in-out;
}
.login-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}

.login-container h1 {
    color: #333;
}

.login-container .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-container button {
    background-color: #0084a2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #00657d;
}

.login-container p {
    margin-top: 15px;
    color: #555;
}

.login-container a {
    color: #0084a2;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
/* Styl popupu błędu */
.error-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Tło z półprzeźroczystym czarnym kolorem */
    z-index: 999; /* Upewnij się, że popup jest na wierzchu */
}

.error-content {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
}

#error-message {
    font-size: 18px;
    margin-bottom: 20px;
    color: #5e0303; /* Kolor tekstu błędu */
}

#close-error-popup {
    background-color: #3b0101; /* Kolor przycisku zamknięcia */
    color: #fff; /* Kolor tekstu przycisku zamknięcia */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#close-error-popup:hover {
    background-color: #000000; /* Kolor przycisku zamknięcia po najechaniu myszką */
}

/* Styl dla formularza rejestracji */
.register-container {
    background-color: rgba(255, 255, 255, 0.9); /* Przezroczyste tło */
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Cień */
}

.register-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.register-form {
    text-align: left;
}

.register-form label {
    display: block;
    font-size: 18px;
    margin-top: 15px;
    color: #333;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.register-form button {
    background-color: #0084a2;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.register-form button:hover {
    background-color: #005366;
}

.register-container p {
    font-size: 16px;
    margin-top: 20px;
}

.register-container p a {
    color: #0084a2;
    text-decoration: none;
}

.register-container p a:hover {
    text-decoration: underline;
}


/* 1251 nizej */
@media (max-width: 1250px) {
    .nav-link {
        font-size: 20px; /* Zmniejsz rozmiar pozycji menu, ikon i logo */
        margin: 0 5px;
    }
    .user-icon, .cart-icon, .logo {
        height: 35px;
        margin: 0 5px;
    }
    .user-menu {
        top: 79px;
    }
}

/* 911 wyzej */
@media (min-width: 911px) {

    .mobile-menu {
        display: none;
    }
    .menu-button {
        display: none; /* Ukryj przycisk rozwijania menu */
    }

    .menu-bar {
        justify-content: space-between;
        padding: 15px 0;
    }

    .menu-left{
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .menu-right {
        width: 10%
    }

    .logo {
        height: 48px; /* Powiększ rozmiar logo */
        width: auto;
        filter: brightness(0) invert(1);
    }

    .menu-center {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .nav-links {
        display: flex;
    }

    .nav-link {
        font-size: 24px;
        margin: 0 15px;
    }

    .user-icon, .cart-icon {
        height: 48px; /* Powiększ rozmiar ikon */
        width: 48px;
        margin: 0 10px;
    }
    .user-menu {
        top: 82px;
    }
}


/* 911 nizej */
@media (max-width: 911px) {
    .nav-link {
        font-size: 20px; /* Zmniejsz rozmiar czcionki na smartfonach */
    }
    .menu-center, .nav-links {
        width: 0; /* Ustaw szerokość na 0 */
        display: none; /* Ukryj element */
    }

    .menu-bar {
        justify-content: space-between;
        padding: 20px 0;
        overflow: hidden;
    }

    .menu-button, .menu-left, .menu-right {
        width: 25%; /* Przydziel każdemu 25% szerokości */
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-button {
        font-size: 36px; /* Zwiększ rozmiar przycisku menu */
        cursor: pointer; /* Dodaj wskaźnik myszki */
    }

    .menu-left img {
        height: 50px; /* Powiększ rozmiar logo */
        width: auto; /* Automatyczny rozmiar szerokości */
    }

    .user-cart-icons img {
        height: 50px; /* Powiększ rozmiar ikon */
        width: 50px;
    }

    .user-icon:last-child, .cart-icon:last-child {
        margin-right: 0; /* Usuń margines od prawej strony ostatnich ikon */
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 94px; /* Wartość zależy od wysokości menu-bar */
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        text-align: center;
        z-index: 2; /* Wysunięte na wierzch */
        max-height: 0; /* Ukryj menu na początek */
        overflow: hidden; /* Ukryj zawartość, która wykracza poza maksymalną wysokość */
        transition: max-height 0.7s ease-in-out, opacity 0.7s ease-in-out; /* Dodaj animację */
    }

    .mobile-link {
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        padding: 20px;
        transition: background-color 0.3s;
    }

    .mobile-link:hover {
        background-color: #0084a2; /* Kolor podświetlenia po najechaniu myszką */
    }

    .mobile-menu.active {
        max-height: 500px; /* Rozwiń menu, ustalając maksymalną wysokość */
        opacity: 1; /* Ustal przejrzystość */
        margin: 0;
    }
    .user-menu {
        top: 94px;
        padding: 20px 40px;
        width: calc(100% - 80px);
    }
}
/* 1251 wzwyz */
@media (min-width: 1251px) {
    .menu-left, .menu-right {
        width: 20%;
        display: flex;
        justify-content: center;
    }
}




