/* Resetowanie stylów */
html, body, div, p, a, img {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-decoration: none;
    font-family: "Lato-Bold", Helvetica, serif;
    list-style: none;
}

/* Styl dla sekcji kategorii */
#product-categories {
    position: fixed;
    width: 20%;
    height: calc(100% - 94px); /* Odejmujemy wysokość menu */
    background: #07628b;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    top: 94px; /* Ustaw odległość od góry na wysokość menu */
}


.category {
    text-align: left;
    margin: 5px;
}

.category h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
}

.category li {
    padding-left: 10px;
    margin-bottom: 5px;
}

.category a {
    text-decoration: none;
    color: #dbdbdb;
    display: block;
    padding: 8px 0;
    font-size: 1.2em;
    transition: color 0.2s, background-color 0.3s, transform 0.5s;
}

.category a:hover {
    color: #fff;
}

/* Styl dla sekcji produktów */
#product-sections {
    position: fixed;
    width: 80%;
    margin-left: 20%;
    margin-right: 0;
    padding: 20px;
    box-sizing: border-box;
    top: 94px; /* Ustaw odległość od góry na wysokość menu */
    text-align: center;
    overflow-y: auto; /* Dodaj przewijanie tylko dla sekcji produktów */
    height: calc(100% - 94px); /* Określ wysokość sekcji produktów */
}

.product-carousel {
    display: flex;
    flex-wrap: wrap; /* Wyśrodkuj produkty w kontenerze */
    justify-content: flex-start; /* Dodaj odstęp między produktami */
    gap: 2em; /* Dodaj odstęp między produktami */
    overflow: hidden; /* Ukryj pasek przewijania wewnątrz kontenera */
}

.product {
    position: relative;
    background: #fff;
    border: 2px solid #0084a2;
    border-radius: 8px;
    padding: 10px;
    width: 20%;
    min-width: 200px;
    display: inline-block;
    vertical-align: top;
}
.product:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.1s;
}
.product h3 {
    font-size: 1.2em;
    margin: 5px 0;
    color: #333;
}

.product .description {
    font-size: 1em;
    color: #777;
}

.product .product-price {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    font-size: 1.1em;
    color: #333;
    padding: 12px 12px;
}

.product img {
    max-width: 100%;
    margin-top: 1em;
    margin-bottom: 80px;
}

#addProductForm {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0084a2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#addProductForm h2 {
    text-align: center;
    color: #333;
}

#addProductForm label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

#addProductForm input,
#addProductForm textarea,
#addProductForm select {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#addProductButton,
#addProductForm button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#addProductButton:hover,
#addProductForm button:hover {
    background-color: #45a049;
}

/* Styl przycisku "Dodaj do koszyka" */
.product .add-to-cart, #message-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4caf50;
    border-radius: 0 0 4px 4px;
    display: flex;
    justify-content: center; /* Dodaj odstęp między produktami */
    gap: 1px; /* Dodaj odstęp między produktami */
    overflow: hidden; /* Ukryj pasek przewijania wewnątrz kontenera */
    align-items: center;
}
.product .add-to-cart button{
    border: none;
    color: #fff;
    padding: 12px 12px;
    cursor: pointer;
    font-size: 14px;
    background-color: #4caf50;
    transition: background-color 0.3s;
}
.product .add-to-cart .add-to-cart-input{
    height: 10px;
    padding: 5px;
    width: 50px;
    text-align: center;
    
}


.product .add-to-cart button:hover {
    background-color: #006580;
    border-radius: 1em;
}

#message-container {
    position: sticky;
    width: 50%;
    top: 100px;
    left: 50%;
    height: 100px;
    transform: translateX(-50%);
    background: linear-gradient(rgb(18, 39, 65) 0%, rgba(0, 127, 0, 1.0) 50%, rgb(18, 39, 65) 100%);
    color: white;
    padding: 20px;
    display: none;
    z-index: 2;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

#message-container p {
    margin: 0;
    line-height: 5.5;
}

/* Dodatkowy efekt cienia podczas najechania myszą */

/* Przyklejenie paska przewijania do prawej strony */
::-webkit-scrollbar {
    width: 12px; /* Szerokość paska przewijania */
}

/* Stylowanie koloru paska przewijania */
::-webkit-scrollbar-thumb {
    background: #0084a2; /* Kolor paska przewijania */
}

/* Przyklejenie paska przewijania wertykalnego do prawej strony */
::-webkit-scrollbar:vertical {
    width: 12px;
}

/* Przyklejenie paska przewijania poziomego do dolnej strony */
::-webkit-scrollbar:horizontal {
    height: 12px;
}